.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

.contenido{
    display: flex;
    flex-wrap: wrap;

}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-hotel{
    display: flex;
    flex: 1 200px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 8px;
}
.img-fluid {
    max-width: 100%;
    height: 300px;
    width: 100%;
}

.btn-reserva{
    width: 100%;
    justify-content: space-between;
    border-radius: 0px;
}

.footer{
    display: flex;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: column;
}

.iconos{
    padding-right: 7px;
}

#estilo-tarjeta{
    display: flex;
    justify-content: center;
}

#tarjetas-card{
    background-color: blue;
    color: white;
}

#comentarios{
    display: flex;
    justify-content: center;

}