.parrafos{
    display: flex;

}

.parrafos p{
    border: red 2px solid;
}

.titulos{
    border: red 2px solid;
    display: flex;
    justify-content: center;
}
.titulos ul{
    display: flex;
}

.titulos ul div{
    border: red 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulos ul li {
    list-style:none;
}
